<ul class="nav nav-tabs" role="tablist" id="patientTab">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Basic Info</a></li>
    <li role="presentation"><a href="#diagnoses" aria-controls="address" role="tab" data-toggle="tab">Admitting Diagnosis</a></li>
    <li role="presentation"><a href="#code_statuses" aria-controls="address" role="tab" data-toggle="tab">Code Status</a></li>
    <li role="presentation"><a href="#precautions" aria-controls="address" role="tab" data-toggle="tab">Precautions</a></li>
    <li role="presentation"><a href="#allergies" aria-controls="address" role="tab" data-toggle="tab">Allergy</a></li>
    <li role="presentation"><a href="#medications" aria-controls="address" role="tab" data-toggle="tab">Medication History</a></li>
    <li role="presentation"><a href="#rooms" aria-controls="address" role="tab" data-toggle="tab">Room</a></li>
    <li role="presentation"><a href="#heights" aria-controls="address" role="tab" data-toggle="tab">Height</a></li>
    <li role="presentation"><a href="#weights" aria-controls="address" role="tab" data-toggle="tab">Weight</a></li>
    <li role="presentation"><a href="#daily_activities" aria-controls="address" role="tab" data-toggle="tab">Daily Activity</a></li>
    <li role="presentation"><a href="#treatments" aria-controls="address" role="tab" data-toggle="tab">Treatment</a></li>
    <li role="presentation"><a href="#consults" aria-controls="address" role="tab" data-toggle="tab">Consult</a></li>
    <li role="presentation"><a href="#dietaries" aria-controls="address" role="tab" data-toggle="tab">Dietary</a></li>
    <li role="presentation"><a href="#provider_orders" aria-controls="address" role="tab" data-toggle="tab">Physician Order</a></li>
    <li role="presentation"><a href="#notes" aria-controls="address" role="tab" data-toggle="tab" aria-expanded="false">Note</a></li>
</ul>