
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <li><a href="/Home/" class="active"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/Medications/"><i class="fa fa-medkit"></i> Medications</a></li>
            <li><a href="/Providers/"><i class="fa fa-user-md"></i> Health Providers</a></li>
            <li>
                <a href="/Patients#"><i class="fa fa-user"></i> Patients<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/Patients"><i class="fa fa-search"></i> Search</a></li>
                </ul>
            </li>
        </ul>

    </div>
</div>