
<body class="body-class">
    <div class="container-fluid">

        <div class="row" style="margin-top:20px;">
            <div class="row">
                <div class="col-md-6 col-sm-4 col-sm-offset-1">
                    <div class="row">
                        <img src="img/galen_logo_body.png" style="margin-bottom:20px;" alt="" />
                    </div>
                    <div class="row entry-page-box">
                        <div style="margin-top:10px">
                            Please login from classroom
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>