html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.dataTables_filter {
    display: none;
}

.dataTables_length {
    display: none;
}
.form-group {
    margin-bottom:0px;
}