<div class="container-fluid">
    <div class="row" style="margin-top:20px;">
        <div class="breadcrumb">
            <a href="#"><i class="fa fa-home fa-lg"></i> Home</a>/<a href="#">Medications</a>
        </div>
        <div class="command-box">
            <a href="/Medications/Add" class="btn btn-success btn-sm">Add Medication</a>
        </div>
        <div class="well" id="searchBar">
            <div class="form-group">
                <input name="SearchKeywords" class="form-control" placeholder="Search..." size="50" type="text" id="SearchKeywords">
            </div>
        </div>
        <section id="no-more-tables">
            <div class="table-responsive">
                <script>

                    $(document).ready(function () {
                        $(".loader").show();
                        //Call Medications jsonResult Method
                        $.getJSON("/Medications/GetAll",
                            function (json) {
                                var tr;
                                //Append each row to html table
                                for (var i = 0; i < json.length; i++) {
                                    tr = $('<tr/>');
                                    tr.append('<td><a href="/Medications/View/' + json[i].id + '">' + json[i].id + '</a></td>');
                                    tr.append("<td>" + json[i].generic + "</td>");
                                    tr.append("<td>" + json[i].brand + "</td>");
                                    tr.append("<td>" + json[i].classification + "</td>");
                                    $('table').append(tr);
                                }
                                var table = $('#MedcationsInfo').DataTable({
                                    order: [[1, 'asc']],
                                });

                                $('#SearchKeywords').on('keyup', function () {
                                    //set search text on specific column
                                    table.search(this.value).draw();
                                });
                                $(".loader").hide();
                            });
                    });

                </script>
                <div class="loader"></div>
                <table id="MedcationsInfo" class="display nowrap dataTable dtr-inline collapsed" style="width:99%;">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Generic</th>
                            <th>Brand</th>
                            <th>Classification</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>